openapi: 3.1.0
info:
  title: Allternit Platform API
  version: "1.0.0"
  summary: Agents, voice, messaging, numbers, channels and the twin layer, for developers.
  description: |
    The Allternit Platform API. Base URL `https://api.allternit.com`.

    Authenticate with a project API key: `Authorization: Bearer alt_live_…` (live
    project) or `alt_test_…` (sandbox project). Every POST accepts an
    `Idempotency-Key` header (stored per key for 24 hours). Responses carry
    `x-ratelimit-limit`, `x-ratelimit-remaining` and `x-ratelimit-reset` headers.

    This file is the source of truth for the `/v1` routes: a test fails if the
    router and this file disagree.
servers:
  - url: https://api.allternit.com
security:
  - bearerAuth: []
paths:
  /v1/accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: Accounts in the project, oldest first. A key bound to an account sees only that account. Requires a resource scope.
      tags: [Accounts]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - name: external_ref
          in: query
          description: Only the account with this external_ref.
          schema: { type: string }
      responses:
        "200":
          description: A page of accounts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createAccount
      summary: Create an account
      description: One account per end-customer business. Not available to account-bound keys.
      tags: [Accounts]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                external_ref:
                  type: string
                  maxLength: 255
                  description: Your own id for this customer. Unique within the project.
                metadata:
                  type: object
                  description: Free-form JSON object, at most 8 KB.
                  additionalProperties: true
      responses:
        "201":
          description: The new account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
  /v1/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, examples: ["acct_0123456789abcdef01234567"] }
    get:
      operationId: getAccount
      summary: Retrieve an account
      tags: [Accounts]
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateAccount
      summary: Update an account
      description: "Absent fields are unchanged; `external_ref: null` clears it; `metadata` replaces the object."
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                external_ref: { type: [string, "null"], maxLength: 255 }
                metadata: { type: object, additionalProperties: true }
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteAccount
      summary: Delete an account
      description: Soft delete. Also revokes the API keys bound to the account. Not available to account-bound keys.
      tags: [Accounts]
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [id, object, deleted]
                properties:
                  id: { type: string }
                  object: { type: string, const: account }
                  deleted: { type: boolean, const: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/usage:
    get:
      operationId: getUsage
      summary: Usage by meter, key or account
      description: Sums of recorded usage events in `[from, to)`. Requires the `usage` scope.
      tags: [Usage]
      parameters:
        - name: group_by
          in: query
          schema: { type: string, enum: [meter, key, account], default: meter }
        - name: from
          in: query
          description: RFC 3339 timestamp or YYYY-MM-DD. Defaults to 30 days before `to`.
          schema: { type: string }
        - name: to
          in: query
          description: RFC 3339 timestamp or YYYY-MM-DD. Defaults to now.
          schema: { type: string }
        - name: account_id
          in: query
          description: Only this account's usage.
          schema: { type: string }
      responses:
        "200":
          description: Usage rows.
          content:
            application/json:
              schema:
                type: object
                required: [object, group_by, from, to, data, has_more, next_cursor]
                properties:
                  object: { type: string, const: usage }
                  group_by: { type: string }
                  from: { type: string, format: date-time }
                  to: { type: string, format: date-time }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/UsageRow" }
                  has_more: { type: boolean }
                  next_cursor: { type: [string, "null"] }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/available:
    get:
      operationId: listAvailableNumbers
      summary: Search numbers to buy (live projects)
      tags: [Numbers]
      parameters:
        - { name: country, in: query, schema: { type: string, default: US } }
        - { name: area_code, in: query, schema: { type: string } }
        - { name: locality, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string, enum: [local, toll_free] } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 10 } }
      responses:
        "200":
          description: Numbers the carrier offers now.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { type: object, properties: { e164: { type: string }, type: { type: string }, locality: { type: [string, "null"] }, monthlyCost: { type: [string, "null"] } } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers:
    get:
      operationId: listNumbers
      summary: List numbers
      tags: [Numbers]
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/After" }
        - { name: account_id, in: query, schema: { type: string } }
      responses:
        "200":
          description: A page of numbers.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumberList" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createNumber
      summary: Get a number for an account
      description: Sandbox projects get a simulated number (no `e164`). Live projects buy `e164` from `/v1/numbers/available`; needs a paid plan.
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_id]
              properties:
                account_id: { type: string }
                e164: { type: string }
                type: { type: string, enum: [local, toll_free] }
      responses:
        "201":
          description: The number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumber" }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getNumber
      summary: Retrieve a number
      tags: [Numbers]
      responses:
        "200":
          description: The number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumber" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: releaseNumber
      summary: Release a number
      tags: [Numbers]
      responses:
        "200":
          description: Released.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, object: { type: string, const: phone_number }, deleted: { type: boolean, const: true } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/registration:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getNumberRegistration
      summary: Carrier registration status
      tags: [Numbers]
      responses:
        "200":
          description: Registration state, refreshed from the carrier while pending.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: submitNumberRegistration
      summary: Register the number for US texting (10DLC or toll-free)
      description: The end-customer business's own details. The campaign files itself once the brand is verified.
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "201":
          description: Submitted.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/consent:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: recordConsent
      summary: Record that a person agreed to be contacted
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [e164, source]
              properties:
                e164: { type: string }
                source: { type: string, description: "How they agreed: a form, a call, an existing customer record." }
                evidence: { type: string }
      responses:
        "201":
          description: Recorded. `opted_out` true means the person's STOP still stands.
          content:
            application/json:
              schema: { type: object, properties: { number_id: { type: string }, e164: { type: string }, recorded: { type: boolean }, opted_out: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/simulate_inbound:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: simulateInbound
      summary: Sandbox only — play a text arriving
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [from, body], properties: { from: { type: string }, body: { type: string } } }
      responses:
        "200":
          description: What happened (`received`, `opted_out`, `opted_in`, `help`, `ignored_opted_out`).
          content:
            application/json:
              schema: { type: object, properties: { number_id: { type: string }, handled: { type: string } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/messages:
    get:
      operationId: listMessages
      summary: List texts
      tags: [Messaging]
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/After" }
        - { name: number_id, in: query, schema: { type: string } }
        - { name: account_id, in: query, schema: { type: string } }
        - { name: direction, in: query, schema: { type: string, enum: [inbound, outbound] } }
      responses:
        "200":
          description: A page of messages.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MessageList" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: sendMessage
      summary: Send a text
      description: Refused when texting isn't active on the number, the person sent STOP, or they never texted first and have no consent recorded.
      tags: [Messaging]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [number_id, to, body], properties: { number_id: { type: string }, to: { type: string }, body: { type: string, maxLength: 1600 } } }
      responses:
        "201":
          description: The message.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Message" }
        default: { $ref: "#/components/responses/Error" }
  /v1/messages/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getMessage
      summary: Retrieve a text
      tags: [Messaging]
      responses:
        "200":
          description: The message.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Message" }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks:
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/After" }]
      responses:
        "200":
          description: A page of endpoints.
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/WebhookEndpoint" } }, has_more: { type: boolean }, next_cursor: { type: [string, "null"] } } }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createWebhook
      summary: Create a webhook endpoint
      description: "`url` must be public https. The response carries `secret` once."
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { type: string, enum: ["*", message.received, message.status, registration.updated] } }
                description: { type: string, maxLength: 200 }
      responses:
        "201":
          description: The endpoint, with its signing secret.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/WebhookEndpoint" }
                  - { type: object, properties: { secret: { type: string } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getWebhook
      summary: Retrieve a webhook endpoint
      tags: [Webhooks]
      responses:
        "200":
          description: The endpoint.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookEndpoint" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook endpoint
      tags: [Webhooks]
      responses:
        "200":
          description: Deleted; pending deliveries to it stop.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, object: { type: string }, deleted: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/test:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: testWebhook
      summary: Send a webhook.test event to this endpoint
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202":
          description: Queued.
          content:
            application/json:
              schema: { type: object, properties: { event_id: { type: string }, webhook_id: { type: string }, queued: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/deliveries:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: listWebhookDeliveries
      summary: Delivery log for an endpoint
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/After" }]
      responses:
        "200":
          description: A page of deliveries.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/deliveries/{delivery_id}/redeliver:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: delivery_id, in: path, required: true, schema: { type: string } }
    post:
      operationId: redeliverWebhook
      summary: Try a delivery again now
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202":
          description: Queued.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, queued: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A project API key, `alt_live_…` or `alt_test_…`.
  parameters:
    Limit:
      name: limit
      in: query
      description: Page size, 1 to 100 (default 20).
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    After:
      name: after
      in: query
      description: Opaque cursor from `next_cursor` of the previous page.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Up to 255 characters. Repeating a request with the same key replays the stored response for 24 hours; the same key with a different request is a 409.
      schema: { type: string, maxLength: 255 }
  responses:
    Error:
      description: Error. The HTTP status says which kind; the body is the Error object.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [type, code, message, param]
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - permission_error
                - not_found_error
                - rate_limit_error
                - conflict_error
                - api_error
            code: { type: string }
            message: { type: string }
            param: { type: [string, "null"] }
    ListEnvelope:
      type: object
      required: [data, has_more, next_cursor]
      properties:
        data: { type: array, items: {} }
        has_more: { type: boolean }
        next_cursor:
          type: [string, "null"]
          description: Pass as `after` to get the next page; null on the last page.
    Account:
      type: object
      required: [id, object, name, external_ref, metadata, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: account }
        name: { type: string }
        external_ref: { type: [string, "null"] }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
    UsageRow:
      type: object
      required: [group, meter, unit, quantity, events]
      properties:
        group:
          type: [string, "null"]
          description: The meter, key id or account id, per `group_by`. Null for usage with no account.
        meter:
          type: string
          enum:
            - voice_min_allternit
            - voice_min_byok
            - agent_month
            - tokens_in
            - tokens_out
            - number_local_month
            - number_tollfree_month
            - sms_segment
            - mms
            - registration_passthrough_cents
            - recording_min_month
        unit: { type: [string, "null"] }
        quantity: { type: number }
        events: { type: integer }
    PhoneNumber:
      type: object
      required: [id, object, account_id, e164, type, sms_state, simulated, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: phone_number }
        account_id: { type: [string, "null"] }
        e164: { type: string }
        type: { type: string, enum: [local, toll_free] }
        sms_state: { type: string, enum: [pending_registration, active, rejected, blocked] }
        simulated: { type: boolean }
        created_at: { type: string, format: date-time }
    PhoneNumberList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/PhoneNumber" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    Message:
      type: object
      required: [id, object, number_id, direction, from, to, body, segments, status, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: message }
        account_id: { type: [string, "null"] }
        number_id: { type: string }
        direction: { type: string, enum: [inbound, outbound] }
        from: { type: string }
        to: { type: string }
        body: { type: string }
        segments: { type: integer }
        status: { type: string, enum: [sent, simulated, received, failed] }
        error_code: { type: [string, "null"] }
        media: { type: array, items: { type: object, additionalProperties: true } }
        created_at: { type: string, format: date-time }
    MessageList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/Message" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    WebhookEndpoint:
      type: object
      required: [id, object, url, events, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: webhook_endpoint }
        url: { type: string }
        events: { type: array, items: { type: string } }
        description: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
    Event:
      type: object
      description: "What a webhook receives. Header `allternit-signature: t=<ts>,v1=<hex HMAC-SHA256(secret, \"<ts>.<body>\")>`."
      required: [id, object, type, created, project_id, data]
      properties:
        id: { type: string }
        object: { type: string, const: event }
        type: { type: string, enum: [message.received, message.status, registration.updated, webhook.test] }
        created: { type: integer, description: Unix seconds. }
        project_id: { type: string }
        account_id: { type: [string, "null"] }
        data: { type: object, additionalProperties: true }
