openapi: 3.1.0
info:
  title: Allternit Platform API
  version: "1.0.0"
  summary: Agents, voice, messaging, numbers, channels and the twin layer, for developers.
  description: |
    The Allternit Platform API. Base URL `https://api.allternit.com`.

    Authenticate with a project API key: `Authorization: Bearer alt_live_…` (live
    project) or `alt_test_…` (sandbox project). Every POST accepts an
    `Idempotency-Key` header (stored per key for 24 hours). Responses carry
    `x-ratelimit-limit`, `x-ratelimit-remaining` and `x-ratelimit-reset` headers.

    This file is the source of truth for the `/v1` routes: a test fails if the
    router and this file disagree.
servers:
  - url: https://api.allternit.com
security:
  - bearerAuth: []
paths:
  /v1/accounts:
    get:
      operationId: listAccounts
      summary: List accounts
      description: Accounts in the project, oldest first. A key bound to an account sees only that account. Requires a resource scope.
      tags: [Accounts]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - name: external_ref
          in: query
          description: Only the account with this external_ref.
          schema: { type: string }
      responses:
        "200":
          description: A page of accounts.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createAccount
      summary: Create an account
      description: One account per end-customer business. Not available to account-bound keys.
      tags: [Accounts]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                external_ref:
                  type: string
                  maxLength: 255
                  description: Your own id for this customer. Unique within the project.
                metadata:
                  type: object
                  description: Free-form JSON object, at most 8 KB.
                  additionalProperties: true
      responses:
        "201":
          description: The new account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
  /v1/accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, examples: ["acct_0123456789abcdef01234567"] }
    get:
      operationId: getAccount
      summary: Retrieve an account
      tags: [Accounts]
      responses:
        "200":
          description: The account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateAccount
      summary: Update an account
      description: "Absent fields are unchanged; `external_ref: null` clears it; `metadata` replaces the object."
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                external_ref: { type: [string, "null"], maxLength: 255 }
                metadata: { type: object, additionalProperties: true }
      responses:
        "200":
          description: The updated account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Account" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteAccount
      summary: Delete an account
      description: Soft delete. Also revokes the API keys bound to the account. Not available to account-bound keys.
      tags: [Accounts]
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [id, object, deleted]
                properties:
                  id: { type: string }
                  object: { type: string, const: account }
                  deleted: { type: boolean, const: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/agents:
    get:
      operationId: listAgents
      summary: List agents
      description: Agents in the project, oldest first. A key bound to an account sees only that account's agents. Requires the `agents` scope.
      tags: [Agents]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
        - name: account_id
          in: query
          description: Only this account's agents.
          schema: { type: string }
      responses:
        "200":
          description: A page of agents.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Agent" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createAgent
      summary: Create an agent
      description: |
        A hosted agent for one of your accounts. The greeting must say the caller is talking to an AI
        (`greeting_missing_ai_disclosure` otherwise); voices are stock voices only; tools come from the
        launch list. Sandbox projects can have 3 agents (`agent_limit_reached`).
      tags: [Agents]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              additionalProperties: false
              properties:
                account_id:
                  type: string
                  description: Required unless the key is bound to an account (then that account).
                name: { type: string, minLength: 1, maxLength: 100 }
                instructions: { type: string, maxLength: 32000 }
                greeting:
                  type: string
                  maxLength: 500
                  description: First thing the agent says. Must say it is an AI. Default "Hi, this is {name}, an AI assistant. How can I help?"
                model:
                  type: string
                  description: '"allternit" (default, routed by Allternit) or "provider/model".'
                voice: { $ref: "#/components/schemas/StockVoice" }
                tools:
                  type: array
                  items: { $ref: "#/components/schemas/AgentTool" }
                autonomy: { $ref: "#/components/schemas/Autonomy" }
                transfer_targets:
                  type: array
                  maxItems: 20
                  items: { type: string, description: E.164 number }
                business_hours: { type: object, additionalProperties: true }
                metadata: { type: object, additionalProperties: true }
      responses:
        "201":
          description: The new agent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        default: { $ref: "#/components/responses/Error" }
  /v1/agents/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, examples: ["agent_0123456789abcdef01234567"] }
    get:
      operationId: getAgent
      summary: Retrieve an agent
      tags: [Agents]
      responses:
        "200":
          description: The agent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        default: { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateAgent
      summary: Update an agent
      description: "Absent fields are unchanged; `business_hours: null` clears it; arrays and `metadata` replace the old value. The agent's account can't change."
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name: { type: string, minLength: 1, maxLength: 100 }
                instructions: { type: string, maxLength: 32000 }
                greeting: { type: string, maxLength: 500 }
                model: { type: string }
                voice: { $ref: "#/components/schemas/StockVoice" }
                tools:
                  type: array
                  items: { $ref: "#/components/schemas/AgentTool" }
                autonomy: { $ref: "#/components/schemas/Autonomy" }
                transfer_targets:
                  type: array
                  maxItems: 20
                  items: { type: string }
                business_hours: { type: [object, "null"], additionalProperties: true }
                metadata: { type: object, additionalProperties: true }
      responses:
        "200":
          description: The updated agent.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Agent" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteAgent
      summary: Delete an agent
      tags: [Agents]
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [id, object, deleted]
                properties:
                  id: { type: string }
                  object: { type: string, const: agent }
                  deleted: { type: boolean, const: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/agents/{id}/knowledge:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listKnowledgeFiles
      summary: List an agent's knowledge files
      description: Oldest first. Requires the `agents` scope; a key bound to an account sees only its own account's agents.
      tags: [Agents]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
      responses:
        "200":
          description: A page of knowledge files.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/KnowledgeFile" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: uploadKnowledgeFile
      summary: Upload a knowledge file
      description: "Text files the agent searches with the knowledge_search tool. Types: text/plain, text/markdown, text/csv, text/html, application/json (UTF-8). At most 1 MB per file, 20 files and 5 MB in total per agent. Send the text as `content`, or the bytes as `content_base64`. `content_type` defaults from the name's extension."
      tags: [Agents]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [name]
              properties:
                name: { type: string, minLength: 1, maxLength: 200 }
                content_type: { type: string, enum: [text/plain, text/markdown, text/csv, text/html, application/json] }
                content: { type: string }
                content_base64: { type: string, contentEncoding: base64 }
      responses:
        "201":
          description: The stored file.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KnowledgeFile" }
        default: { $ref: "#/components/responses/Error" }
  /v1/agents/{id}/knowledge/{file_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: file_id
        in: path
        required: true
        schema: { type: string, examples: ["kf_0123456789abcdef01234567"] }
    delete:
      operationId: deleteKnowledgeFile
      summary: Delete a knowledge file
      description: The agent stops finding it right away; the stored original is removed.
      tags: [Agents]
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                required: [id, object, deleted]
                properties:
                  id: { type: string }
                  object: { type: string, const: knowledge_file }
                  deleted: { type: boolean, const: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/agents/{id}/conversations:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, examples: ["agent_0123456789abcdef01234567"] }
    get:
      operationId: listConversations
      summary: List an agent's conversations
      description: The agent's conversations, oldest first, without their messages (use getConversation for those). A key bound to an account sees only that account's agent. Requires the `agents` scope.
      tags: [Conversations]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
      responses:
        "200":
          description: A page of conversations.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ListEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Conversation" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createConversation
      summary: Start a conversation
      description: Opens a conversation with the agent, in the agent's account. No message is sent yet.
      tags: [Conversations]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                metadata: { type: object, additionalProperties: true }
      responses:
        "201":
          description: The new conversation, with an empty `messages` list.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Conversation" }
        default: { $ref: "#/components/responses/Error" }
  /v1/conversations/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, examples: ["conv_0123456789abcdef01234567"] }
    get:
      operationId: getConversation
      summary: Retrieve a conversation
      description: The conversation with its latest 200 messages, oldest first.
      tags: [Conversations]
      responses:
        "200":
          description: The conversation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Conversation" }
        default: { $ref: "#/components/responses/Error" }
  /v1/conversations/{id}/messages:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: sendConversationMessage
      summary: Send a message
      description: |
        Sends a message and answers with the agent's reply. With `stream: true` the answer is
        server-sent events: `message.delta` (`{"delta": "..."}`) while the agent writes, then
        `message.completed` (the stored reply) or `error`. The first message starts the
        project's hosted runtime: `503 runtime_starting` means retry in a few seconds.
        One message at a time per conversation (`409 conversation_busy`). A project at its
        monthly spend cap gets `402 spend_cap_reached`. Each reply records `tokens_in` and
        `tokens_out` usage (provider list price + 15%; no token charge on the project's own key).
      tags: [Conversations]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              additionalProperties: false
              properties:
                content: { type: string, minLength: 1, maxLength: 16000 }
                stream: { type: boolean, default: false }
      responses:
        "200":
          description: The agent's reply (`status` is `failed`, with `error`, when the turn failed).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationMessage" }
            text/event-stream:
              schema: { type: string }
        default: { $ref: "#/components/responses/Error" }
  /v1/model_keys:
    get:
      operationId: listModelKeys
      summary: List the project's model keys
      description: Masked; the key itself is never returned.
      tags: [Agents]
      responses:
        "200":
          description: The project's keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  object: { type: string, const: list }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ModelKey" }
                  has_more: { type: boolean }
        default: { $ref: "#/components/responses/Error" }
  /v1/model_keys/{provider}:
    parameters:
      - name: provider
        in: path
        required: true
        schema: { type: string, enum: [anthropic, openai, xai] }
    put:
      operationId: putModelKey
      summary: Set a model key
      description: The project's own key for a provider. Agents whose `model` is `provider/…` run on it. Not available to account-bound keys.
      tags: [Agents]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key]
              additionalProperties: false
              properties:
                api_key: { type: string, minLength: 8, maxLength: 512 }
      responses:
        "200":
          description: The stored key, masked.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModelKey" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteModelKey
      summary: Delete a model key
      tags: [Agents]
      responses:
        "200":
          description: Deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider: { type: string }
                  object: { type: string, const: model_key }
                  deleted: { type: boolean, const: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/projects/current/spend_cap:
    get:
      operationId: getSpendCap
      summary: The project's monthly spend cap and spend so far
      description: Spend is this UTC calendar month's usage at list prices (before plan credits or discounts). Requires the `usage` scope.
      tags: [Usage]
      responses:
        "200":
          description: The cap.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpendCap" }
        default: { $ref: "#/components/responses/Error" }
    put:
      operationId: putSpendCap
      summary: Lower the monthly spend cap
      description: An API key can only lower the cap (403 `spend_cap_raise_in_console` otherwise); raise it in the console. Requires the `usage` scope and a key not bound to an account.
      tags: [Usage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [spend_cap_cents]
              additionalProperties: false
              properties:
                spend_cap_cents: { type: integer, minimum: 0, maximum: 100000000 }
      responses:
        "200":
          description: The new cap.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SpendCap" }
        default: { $ref: "#/components/responses/Error" }
  /v1/usage:
    get:
      operationId: getUsage
      summary: Usage by meter, key or account
      description: Sums of recorded usage events in `[from, to)`. Requires the `usage` scope.
      tags: [Usage]
      parameters:
        - name: group_by
          in: query
          schema: { type: string, enum: [meter, key, account], default: meter }
        - name: from
          in: query
          description: RFC 3339 timestamp or YYYY-MM-DD. Defaults to 30 days before `to`.
          schema: { type: string }
        - name: to
          in: query
          description: RFC 3339 timestamp or YYYY-MM-DD. Defaults to now.
          schema: { type: string }
        - name: account_id
          in: query
          description: Only this account's usage.
          schema: { type: string }
      responses:
        "200":
          description: Usage rows.
          content:
            application/json:
              schema:
                type: object
                required: [object, group_by, from, to, data, has_more, next_cursor]
                properties:
                  object: { type: string, const: usage }
                  group_by: { type: string }
                  from: { type: string, format: date-time }
                  to: { type: string, format: date-time }
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/UsageRow" }
                  has_more: { type: boolean }
                  next_cursor: { type: [string, "null"] }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/available:
    get:
      operationId: listAvailableNumbers
      summary: Search numbers to buy (live projects)
      tags: [Numbers]
      parameters:
        - { name: country, in: query, schema: { type: string, default: US } }
        - { name: area_code, in: query, schema: { type: string } }
        - { name: locality, in: query, schema: { type: string } }
        - { name: type, in: query, schema: { type: string, enum: [local, toll_free] } }
        - { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 10 } }
      responses:
        "200":
          description: Numbers the carrier offers now.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { type: object, properties: { e164: { type: string }, type: { type: string }, locality: { type: [string, "null"] }, monthlyCost: { type: [string, "null"] } } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers:
    get:
      operationId: listNumbers
      summary: List numbers
      tags: [Numbers]
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/After" }
        - { name: account_id, in: query, schema: { type: string } }
      responses:
        "200":
          description: A page of numbers.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumberList" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createNumber
      summary: Get a number for an account
      description: Sandbox projects get a simulated number (no `e164`). Live projects buy `e164` from `/v1/numbers/available`; needs a paid plan.
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_id]
              properties:
                account_id: { type: string }
                e164: { type: string }
                type: { type: string, enum: [local, toll_free] }
      responses:
        "201":
          description: The number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumber" }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getNumber
      summary: Retrieve a number
      tags: [Numbers]
      responses:
        "200":
          description: The number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumber" }
        default: { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateNumber
      summary: Bind the agent that answers calls (agent_id, null unbinds)
      tags: [Numbers]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: false, properties: { agent_id: { type: [string, "null"] } } }
      responses:
        "200":
          description: The number.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PhoneNumber" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: releaseNumber
      summary: Release a number
      tags: [Numbers]
      responses:
        "200":
          description: Released.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, object: { type: string, const: phone_number }, deleted: { type: boolean, const: true } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/registration:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getNumberRegistration
      summary: Carrier registration status
      tags: [Numbers]
      responses:
        "200":
          description: Registration state, refreshed from the carrier while pending.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: submitNumberRegistration
      summary: Register the number for US texting (10DLC or toll-free)
      description: The end-customer business's own details. The campaign files itself once the brand is verified.
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "201":
          description: Submitted.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/registration/otp:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: verifyRegistrationCode
      summary: Sole proprietors — verify the texted code, or send a new one
      description: "`{ \"pin\": \"123456\" }` checks the code the person received; an empty body sends a new code. Once verified, the campaign files itself."
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { type: object, properties: { pin: { type: string } } }
      responses:
        "200":
          description: Registration state.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/consent:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: recordConsent
      summary: Record that a person agreed to be contacted
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [e164, source]
              properties:
                e164: { type: string }
                source: { type: string, description: "How they agreed: a form, a call, an existing customer record." }
                evidence: { type: string }
      responses:
        "201":
          description: Recorded. `opted_out` true means the person's STOP still stands.
          content:
            application/json:
              schema: { type: object, properties: { number_id: { type: string }, e164: { type: string }, recorded: { type: boolean }, opted_out: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/simulate_inbound:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: simulateInbound
      summary: Sandbox only — play a text arriving
      tags: [Numbers]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [from, body], properties: { from: { type: string }, body: { type: string } } }
      responses:
        "200":
          description: What happened (`received`, `opted_out`, `opted_in`, `help`, `ignored_opted_out`).
          content:
            application/json:
              schema: { type: object, properties: { number_id: { type: string }, handled: { type: string } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/messages:
    get:
      operationId: listMessages
      summary: List texts
      tags: [Messaging]
      parameters:
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/After" }
        - { name: number_id, in: query, schema: { type: string } }
        - { name: account_id, in: query, schema: { type: string } }
        - { name: direction, in: query, schema: { type: string, enum: [inbound, outbound] } }
      responses:
        "200":
          description: A page of messages.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MessageList" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: sendMessage
      summary: Send a text
      description: Refused when texting isn't active on the number, the person sent STOP, or they never texted first and have no consent recorded.
      tags: [Messaging]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [number_id, to, body], properties: { number_id: { type: string }, to: { type: string }, body: { type: string, maxLength: 1600 } } }
      responses:
        "201":
          description: The message.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Message" }
        default: { $ref: "#/components/responses/Error" }
  /v1/messages/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getMessage
      summary: Retrieve a text
      tags: [Messaging]
      responses:
        "200":
          description: The message.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Message" }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks:
    get:
      operationId: listWebhooks
      summary: List webhook endpoints
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/After" }]
      responses:
        "200":
          description: A page of endpoints.
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/WebhookEndpoint" } }, has_more: { type: boolean }, next_cursor: { type: [string, "null"] } } }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createWebhook
      summary: Create a webhook endpoint
      description: "`url` must be public https. The response carries `secret` once."
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, events]
              properties:
                url: { type: string, format: uri }
                events: { type: array, items: { type: string, enum: ["*", approval.requested, message.received, message.status, registration.updated, inbox.item.created, call.started, call.ended, call.transcript.ready, usage.threshold] } }
                description: { type: string, maxLength: 200 }
      responses:
        "201":
          description: The endpoint, with its signing secret.
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: "#/components/schemas/WebhookEndpoint" }
                  - { type: object, properties: { secret: { type: string } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getWebhook
      summary: Retrieve a webhook endpoint
      tags: [Webhooks]
      responses:
        "200":
          description: The endpoint.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/WebhookEndpoint" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteWebhook
      summary: Delete a webhook endpoint
      tags: [Webhooks]
      responses:
        "200":
          description: Deleted; pending deliveries to it stop.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, object: { type: string }, deleted: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/test:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: testWebhook
      summary: Send a webhook.test event to this endpoint
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202":
          description: Queued.
          content:
            application/json:
              schema: { type: object, properties: { event_id: { type: string }, webhook_id: { type: string }, queued: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/deliveries:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: listWebhookDeliveries
      summary: Delivery log for an endpoint
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/After" }]
      responses:
        "200":
          description: A page of deliveries.
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/webhooks/{id}/deliveries/{delivery_id}/redeliver:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: delivery_id, in: path, required: true, schema: { type: string } }
    post:
      operationId: redeliverWebhook
      summary: Try a delivery again now
      tags: [Webhooks]
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      responses:
        "202":
          description: Queued.
          content:
            application/json:
              schema: { type: object, properties: { id: { type: string }, queued: { type: boolean } } }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls:
    get:
      operationId: listCalls
      summary: List calls (filters account_id, agent_id, status; cursor pagination)
      tags: [Voice]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object, properties: { data: { type: array, items: { $ref: "#/components/schemas/Call" } }, has_more: { type: boolean }, next_cursor: { type: [string, "null"] } } }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createCall
      summary: Place an outbound call (consent, STOP, business hours, spend cap checked)
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [agent_id, from_number_id, to, purpose], properties: { agent_id: { type: string }, from_number_id: { type: string }, to: { type: string }, purpose: { type: string }, record: { type: boolean } } }
      responses:
        "201":
          description: OK.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Call" }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getCall
      summary: Retrieve a call
      tags: [Voice]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Call" }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}/end:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: endCall
      summary: End a call
      tags: [Voice]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Call" }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}/transfer:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: transferCall
      summary: Transfer to one of the agent's transfer_targets
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, properties: { to: { type: string }, mode: { type: string, enum: [warm, cold] } } }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Call" }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}/transcript:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getCallTranscript
      summary: Call transcript
      tags: [Voice]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}/recording:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      operationId: getCallRecording
      summary: Recording URL (only when the call was recorded)
      tags: [Voice]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default: { $ref: "#/components/responses/Error" }
  /v1/calls/{id}/simulate_turn:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: simulateCallTurn
      summary: "Sandbox: play what the caller says"
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [text], properties: { text: { type: string } } }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default: { $ref: "#/components/responses/Error" }
  /v1/numbers/{id}/simulate_call:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      operationId: simulateInboundCall
      summary: "Sandbox: play an inbound call"
      tags: [Voice]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [from], properties: { from: { type: string } } }
      responses:
        "201":
          description: OK.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Call" }
        default: { $ref: "#/components/responses/Error" }
  /v1/realtime/sessions:
    post:
      operationId: createRealtimeSession
      summary: Ephemeral client token for talking to an agent (60 s to start)
      tags: [Realtime]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object, required: [agent_id], properties: { agent_id: { type: string } } }
      responses:
        "201":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default: { $ref: "#/components/responses/Error" }
  /v1/accounts/{id}/channels:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listChannels
      summary: List an account's channels
      description: Channel connections of the account (`?agent_id=` filter). Scope `channels`.
      tags: [Channels]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/channels/{kind}/connect:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: kind
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: connectChannel
      summary: Connect a channel for an agent
      description: "`{agent_id, return_url?, local_part?}`. `email` connects at once; `slack` answers `pending` with `connect_url`; kinds without a production app answer 400 `channel_kind_unavailable`."
      tags: [Channels]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/channels/{channel_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: channel_id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getChannel
      summary: Retrieve a channel
      description: One channel connection.
      tags: [Channels]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
    delete:
      operationId: deleteChannel
      summary: Disconnect a channel
      description: The runtime releases the channel, then the record is deleted.
      tags: [Channels]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/people:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listPeople
      summary: List people
      description: People the account's agents talk to (cursor `limit`/`after`). Scope `twin`.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/people/{person_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: person_id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getPerson
      summary: Retrieve a person
      description: With identities and the account's facts.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
    patch:
      operationId: updatePerson
      summary: Update a person
      description: "`{name?, notes?, org?}`. 409 `person_shared` when another account's agents also know them."
      tags: [Twin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/inbox:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listInbox
      summary: List inbox items
      description: "`?status=open|resolved|all`, newest first."
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/inbox/{item_id}/resolve:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: item_id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: resolveInboxItem
      summary: Resolve an inbox item
      description: Marks it resolved.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/approvals:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listApprovals
      summary: List approvals
      description: "`?status=pending|approved|denied|all`, newest first."
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/approvals/{approval_id}/approve:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: approval_id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: approveApproval
      summary: Approve a held action
      description: The API key is recorded as the actor.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/approvals/{approval_id}/deny:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: approval_id
        in: path
        required: true
        schema: { type: string }
    post:
      operationId: denyApproval
      summary: Deny a held action
      description: The API key is recorded as the actor.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/memory:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: listMemory
      summary: List account memory
      description: Facts every agent of the account knows.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
    post:
      operationId: addMemory
      summary: Add account memory
      description: "`{content, subject?, kind?, source_ref?}`; at most 500 per account."
      tags: [Twin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/accounts/{id}/memory/{memory_id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
      - name: memory_id
        in: path
        required: true
        schema: { type: string }
    delete:
      operationId: deleteMemory
      summary: Delete account memory
      description: Removes one item; agents get the change on their next sync.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/agents/{id}/autonomy:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
    get:
      operationId: getAutonomy
      summary: Retrieve an agent's autonomy
      description: Agent-wide `level` and per channel / person `rules`.
      tags: [Twin]
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
    put:
      operationId: putAutonomy
      summary: Replace an agent's autonomy
      description: "`{level?, rules:[{channel?, person?, level, limits?}]}` replaces every rule."
      tags: [Twin]
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        "200":
          description: OK.
          content:
            application/json:
              schema: { type: object }
        default:
          description: Error (`{error:{type,code,message,param}}`).
  /v1/computers:
    get:
      operationId: listComputers
      summary: List computers
      description: Hosted-driver computers in this project (an account-bound key sees its account's only). Requires the `computers` scope and the project's hosted driver flag (404 `hosted_driver_disabled` until Allternit turns it on).
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
      responses:
        "200":
          description: A page of computers.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ComputerList" }
        default: { $ref: "#/components/responses/Error" }
    post:
      operationId: createComputer
      summary: Create a computer
      description: Provisions a cloud computer your agents drive with the computer and browser toolsets. 402 `spend_cap_reached` at the spend cap; 429 `concurrency_limit` when this key already has `per_key_concurrency` live computers.
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                name: { type: string, maxLength: 120 }
                account_id: { type: string }
                metadata: { type: object, additionalProperties: true }
      responses:
        "201":
          description: The computer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Computer" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getComputer
      summary: Get a computer
      tags: [Computers]
      responses:
        "200":
          description: The computer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Computer" }
        default: { $ref: "#/components/responses/Error" }
    delete:
      operationId: deleteComputer
      summary: Delete a computer
      description: Deletes the computer and its disk. Running minutes up to now are billed.
      tags: [Computers]
      responses:
        "200":
          description: The deleted computer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Computer" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/start:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      operationId: startComputer
      summary: Start a computer
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The computer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Computer" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/stop:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      operationId: stopComputer
      summary: Stop a computer
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: The computer.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Computer" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/toolset:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      operationId: callComputerToolset
      summary: Run one toolset call
      description: |
        One `allternit.computer.v1` / `allternit.browser.v1` call (member names and inputs match Anthropic's `computer_toolset_20260801` / `browser_toolset_20260801`). Runs through the computer's executor: contract validation, control lease, policy, approval, audit, then the action. Action failures are 200 with `is_error: true`.
        409 `approval_required` carries `approval`: approve it (`POST /v1/computers/{id}/approvals/{approval_id}`, or the project owner in the console), then resend the same call with `approval_grant`.
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ToolsetCall" }
      responses:
        "200":
          description: The result.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolsetResult" }
        "409":
          description: Approval required (or another conflict; then the body is the Error object).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ToolsetApprovalRequired" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/toolset/schema:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: getComputerToolsetSchema
      summary: Members available on this computer
      tags: [Computers]
      parameters:
        - { name: toolset, in: query, schema: { type: string, enum: [computer, browser], default: computer } }
      responses:
        "200":
          description: The toolset schema (contract, model frame, screen, and each member with `enabled`, `risk`, `needs_approval` and `input_schema`).
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/events:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      operationId: listComputerEvents
      summary: Poll the computer's action events
      description: "`computer.action` events, oldest first. Pass the last page's `next_cursor` as `after` to poll."
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/After"
      responses:
        "200":
          description: A page of events.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ComputerEventList" }
        default: { $ref: "#/components/responses/Error" }
  /v1/computers/{id}/approvals/{approval_id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
      - { name: approval_id, in: path, required: true, schema: { type: string } }
    post:
      operationId: approveComputerAction
      summary: Approve a held action
      description: The project owner (console) can always approve. An API key can only when the project's `approval_mode` is `api_key` (403 `approval_requires_owner` otherwise).
      tags: [Computers]
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "200":
          description: Approved; resend the call with `approval_grant`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  approval_id: { type: string }
                  approved: { type: boolean }
                  approval_grant: { type: string }
        default: { $ref: "#/components/responses/Error" }
  /v1/computer_settings:
    get:
      operationId: getComputerSettings
      summary: The project's hosted driver settings
      description: Readable while the flag is off (so you can see it). Requires the `computers` scope.
      tags: [Computers]
      responses:
        "200":
          description: The settings.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ComputerSettings" }
        default: { $ref: "#/components/responses/Error" }
    patch:
      operationId: updateComputerSettings
      summary: Change the hosted driver settings
      description: Console only (403 `settings_require_console` for API keys), so a key can't widen its own approvals. `hosted_driver_enabled` is set by Allternit.
      tags: [Computers]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                approval_mode: { type: string, enum: [owner, api_key] }
                per_key_concurrency: { type: integer, minimum: 1 }
                browser_toolset: { type: boolean }
      responses:
        "200":
          description: The settings.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ComputerSettings" }
        default: { $ref: "#/components/responses/Error" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: A project API key, `alt_live_…` or `alt_test_…`.
  parameters:
    Limit:
      name: limit
      in: query
      description: Page size, 1 to 100 (default 20).
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    After:
      name: after
      in: query
      description: Opaque cursor from `next_cursor` of the previous page.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Up to 255 characters. Repeating a request with the same key replays the stored response for 24 hours; the same key with a different request is a 409.
      schema: { type: string, maxLength: 255 }
  responses:
    Error:
      description: Error. The HTTP status says which kind; the body is the Error object.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Call:
      type: object
      properties:
        id: { type: string }
        object: { type: string, const: call }
        account_id: { type: string }
        agent_id: { type: string }
        number_id: { type: [string, "null"] }
        direction: { type: string, enum: [inbound, outbound, realtime] }
        from: { type: [string, "null"] }
        to: { type: [string, "null"] }
        purpose: { type: [string, "null"] }
        status: { type: string, enum: [queued, ringing, in_progress, completed, failed, no_answer, canceled] }
        end_reason: { type: [string, "null"] }
        simulated: { type: boolean }
        recording: { type: boolean }
        transferred_to: { type: [string, "null"] }
        duration_seconds: { type: [integer, "null"] }
        created_at: { type: string, format: date-time }
        answered_at: { type: [string, "null"], format: date-time }
        ended_at: { type: [string, "null"], format: date-time }
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [type, code, message, param]
          properties:
            type:
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - permission_error
                - not_found_error
                - rate_limit_error
                - conflict_error
                - billing_error
                - api_error
            code: { type: string }
            message: { type: string }
            param: { type: [string, "null"] }
    SpendCap:
      type: object
      required: [object, project_id, plan, spend_cap_cents, period, spent_cents, spent_microusd, remaining_cents, reached, thresholds_sent]
      properties:
        object: { type: string, const: spend_cap }
        project_id: { type: string }
        plan: { type: string, enum: [sandbox, payg, growth, enterprise] }
        spend_cap_cents: { type: integer }
        period: { type: string, description: "The month, e.g. 2026-10 (UTC)." }
        spent_cents: { type: integer, description: Spend this month, rounded up to the cent. }
        spent_microusd: { type: integer }
        remaining_cents: { type: integer }
        reached: { type: boolean, description: "true once spend is at or over the cap: billable requests answer 402 spend_cap_reached." }
        thresholds_sent:
          type: array
          description: "usage.threshold webhooks already sent this month (50, 80, 100)."
          items: { type: integer }
    ListEnvelope:
      type: object
      required: [data, has_more, next_cursor]
      properties:
        data: { type: array, items: {} }
        has_more: { type: boolean }
        next_cursor:
          type: [string, "null"]
          description: Pass as `after` to get the next page; null on the last page.
    Account:
      type: object
      required: [id, object, name, external_ref, metadata, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: account }
        name: { type: string }
        external_ref: { type: [string, "null"] }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
    Agent:
      type: object
      required: [id, object, account_id, name, instructions, greeting, model, voice, tools, autonomy, transfer_targets, business_hours, metadata, status, created_at, updated_at]
      properties:
        id: { type: string }
        object: { type: string, const: agent }
        account_id: { type: string }
        name: { type: string }
        instructions: { type: string }
        greeting: { type: string }
        model: { type: string }
        voice: { $ref: "#/components/schemas/StockVoice" }
        tools:
          type: array
          items: { $ref: "#/components/schemas/AgentTool" }
        autonomy: { $ref: "#/components/schemas/Autonomy" }
        transfer_targets:
          type: array
          items: { type: string }
        business_hours: { type: [object, "null"], additionalProperties: true }
        metadata: { type: object, additionalProperties: true }
        status:
          type: string
          enum: [pending, ready]
          description: "`ready` once the project's hosted runtime holds the agent."
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    KnowledgeFile:
      type: object
      required: [id, object, agent_id, account_id, name, content_type, bytes, chunk_count, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: knowledge_file }
        agent_id: { type: string }
        account_id: { type: string }
        name: { type: string }
        content_type: { type: string }
        bytes: { type: integer }
        chunk_count: { type: integer, description: "Searchable pieces (about 1,200 characters each)." }
        created_at: { type: string, format: date-time }
    AgentTool:
      type: string
      enum: [send_text, call, email, channel_post, calendar, web_fetch, web_search, knowledge_search, ask_human, transfer]
      description: "calendar (needs end-customer Google/Microsoft calendar connections) and transfer (arrives with voice calls) aren't available for hosted agents yet (tool_not_available). knowledge_search searches the agent's knowledge files; channel_post posts to a channel connected for the agent's account."
    Autonomy:
      type: string
      enum: [draft, ask, tell, limits]
      description: "What the agent may do on its own: draft (writes, never sends), ask (asks a human first), tell (acts, then tells), limits (acts within set limits). Payments always wait for a human."
    StockVoice:
      type: string
      enum: [af_alloy, af_aoede, af_bella, af_heart, af_jessica, af_kore, af_nicole, af_nova, af_river, af_sarah, af_sky, am_adam, am_echo, am_eric, am_fenrir, am_liam, am_michael, am_onyx, am_puck, am_santa, bf_alice, bf_emma, bf_isabella, bf_lily, bm_daniel, bm_fable, bm_george, bm_lewis]
      default: af_heart
    Conversation:
      type: object
      required: [id, object, agent_id, account_id, metadata, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: conversation }
        agent_id: { type: string }
        account_id: { type: string }
        metadata: { type: object, additionalProperties: true }
        created_at: { type: string, format: date-time }
        messages:
          type: array
          items: { $ref: "#/components/schemas/ConversationMessage" }
    ConversationMessage:
      type: object
      required: [id, object, conversation_id, role, content, status, error, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: conversation.message }
        conversation_id: { type: string }
        role: { type: string, enum: [user, assistant] }
        content: { type: string }
        status: { type: string, enum: [completed, failed] }
        error: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
    ModelKey:
      type: object
      required: [provider, object, masked, created_at, updated_at]
      properties:
        provider: { type: string, enum: [anthropic, openai, xai] }
        object: { type: string, const: model_key }
        masked: { type: string, description: "Last four characters, e.g. \"…7890\"." }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    UsageRow:
      type: object
      required: [group, meter, unit, quantity, events]
      properties:
        group:
          type: [string, "null"]
          description: The meter, key id or account id, per `group_by`. Null for usage with no account.
        meter:
          type: string
          enum:
            - voice_min_allternit
            - voice_min_byok
            - agent_month
            - tokens_in
            - tokens_out
            - number_local_month
            - number_tollfree_month
            - sms_segment
            - mms
            - registration_passthrough_cents
            - recording_min_month
        unit: { type: [string, "null"] }
        quantity: { type: number }
        events: { type: integer }
    PhoneNumber:
      type: object
      required: [id, object, account_id, e164, type, sms_state, simulated, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: phone_number }
        account_id: { type: [string, "null"] }
        e164: { type: string }
        type: { type: string, enum: [local, toll_free] }
        sms_state: { type: string, enum: [pending_registration, active, rejected, blocked] }
        simulated: { type: boolean }
        created_at: { type: string, format: date-time }
    PhoneNumberList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/PhoneNumber" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    Message:
      type: object
      required: [id, object, number_id, direction, from, to, body, segments, status, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: message }
        account_id: { type: [string, "null"] }
        number_id: { type: string }
        direction: { type: string, enum: [inbound, outbound] }
        from: { type: string }
        to: { type: string }
        body: { type: string }
        segments: { type: integer }
        status: { type: string, enum: [sent, simulated, received, failed] }
        error_code: { type: [string, "null"] }
        media: { type: array, items: { type: object, additionalProperties: true } }
        created_at: { type: string, format: date-time }
    MessageList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/Message" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    WebhookEndpoint:
      type: object
      required: [id, object, url, events, created_at]
      properties:
        id: { type: string }
        object: { type: string, const: webhook_endpoint }
        url: { type: string }
        events: { type: array, items: { type: string } }
        description: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
    Event:
      type: object
      description: "What a webhook receives. Header `allternit-signature: t=<ts>,v1=<hex HMAC-SHA256(secret, \"<ts>.<body>\")>`."
      required: [id, object, type, created, project_id, data]
      properties:
        id: { type: string }
        object: { type: string, const: event }
        type: { type: string, enum: [approval.requested, message.received, message.status, registration.updated, inbox.item.created, call.started, call.ended, call.transcript.ready, usage.threshold, webhook.test] }
        created: { type: integer, description: Unix seconds. }
        project_id: { type: string }
        account_id: { type: [string, "null"] }
        data: { type: object, additionalProperties: true }
    Computer:
      type: object
      required: [id, object, name, status, key_id, created_at, metadata]
      properties:
        id: { type: string }
        object: { type: string, const: computer }
        name: { type: string }
        status: { type: string, enum: [provisioning, starting, running, stopping, stopped, error, deleted] }
        account_id: { type: [string, "null"] }
        key_id: { type: string, description: The key that created it (`console` for the console). }
        created_at: { type: string, format: date-time }
        started_at: { type: [string, "null"], format: date-time }
        metadata: { type: object, additionalProperties: true }
    ComputerList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/Computer" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    ComputerEvent:
      type: object
      properties:
        id: { type: string }
        type: { type: string, const: computer.action }
        ts: { type: string, format: date-time }
        data:
          type: object
          properties:
            toolset: { type: string }
            member: { type: string }
            x: { type: [integer, "null"] }
            y: { type: [integer, "null"] }
            screen_w: { type: [integer, "null"] }
            screen_h: { type: [integer, "null"] }
            run_id: { type: [string, "null"] }
            ok: { type: boolean }
    ComputerEventList:
      type: object
      properties:
        data: { type: array, items: { $ref: "#/components/schemas/ComputerEvent" } }
        has_more: { type: boolean }
        next_cursor: { type: [string, "null"] }
    ComputerSettings:
      type: object
      properties:
        hosted_driver_enabled: { type: boolean }
        approval_mode: { type: string, enum: [owner, api_key] }
        per_key_concurrency: { type: integer }
        browser_toolset: { type: boolean }
    ToolsetCall:
      type: object
      required: [toolset, member]
      properties:
        toolset: { type: string, enum: [computer, browser] }
        member: { type: string, description: "A contract member, e.g. screenshot, left_click, type, navigate." }
        input: { type: object, additionalProperties: true }
        run_id: { type: string }
        turn_id: { type: string }
        call_index: { type: integer, minimum: 0 }
        model_frame:
          type: object
          properties:
            width: { type: integer }
            height: { type: integer }
        coordinate_space: { type: string, enum: [pixels, normalized_1000], default: pixels }
        approval_grant: { type: string }
        browser_session_id: { type: string }
    ToolsetResult:
      type: object
      required: [is_error, content]
      properties:
        is_error: { type: boolean }
        content:
          type: array
          items:
            type: object
            properties:
              type: { type: string, enum: [text, image] }
              text: { type: string }
              media_type: { type: string }
              data: { type: string, description: Base64 image. }
        browser_state: { type: object, additionalProperties: true }
        screen:
          type: object
          properties:
            width: { type: integer }
            height: { type: integer }
            scale: { type: number }
            frame_width: { type: integer }
            frame_height: { type: integer }
        error: { type: string, description: "Machine-readable code on failures: action_failed, unimplemented, not_executed, driver_failed." }
    ToolsetApprovalRequired:
      type: object
      properties:
        error: { type: object, additionalProperties: true, description: "The usual error object, code approval_required." }
        approval:
          type: object
          properties:
            id: { type: string }
            action_hash: { type: string }
            member: { type: string }
            toolset: { type: string }
            risk: { type: string }
            confirmation_class: { type: string }
            approve_url: { type: string }
            approver: { type: string, enum: [owner, api_key] }
        result: { $ref: "#/components/schemas/ToolsetResult" }
